* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 35px;
} */

#load_app {
    min-height: 100%;
}

.main {
    overflow: auto;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    height: 95vh;
}


.main::-webkit-scrollbar {
    width: 0px;
    background: none;
}

#add_task {
    padding: 30px 0px;
    margin: 10px 0px;
}

.form-control {
    padding: 12px 17px;
}

.btn-primary {
    padding: 12px 20px;
}


.list-group-item {
    cursor: pointer;
    transition: all linear 0.3s;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem
}

ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-top: -1px;
    width: 50%;
}

ul li:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

ul li:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#header span {
    color: white;
    padding-right: 15px;
    margin-top: -7px;
    display: block;
}

#todo_list {
    margin-bottom: 20px;
    position: relative;
}

#footer {
    position: relative;
    /* margin-top: -100px; */
    clear: both;
}

#footer p {
    margin-top: -15px;
    text-align: center;
    color: white;
    padding: 15px;
    background: #000;
    font-size: 18px;
    margin-bottom: 0;
}

#footer p .heart-ico {
    color: red;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

@media (min-width: 576px) {
    .mb-sm {
        margin-bottom: 15px;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    ul li {
        width: 100%;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    ul li {
        width: 100%;
    }
}
